
.navButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins',sans-serif;
    width: 100%;
    background: #ebeef1;
    border-radius: 50px;
}
.navButtons button{
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    margin: 30px;
    width: 175px;
    background: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: navy;
    box-shadow: 10px 10px 10px -1px rgba(10, 99,169 , 0.16),
                -10px -10px 10px -1px rgba(255, 255,255, 0.70);
}
.navButtons button:hover{
    background-color: navy;
    color: #ebeef1;
}
@media  (max-width: 600px){
    .navbar{
        display: none;
    }
}

