html{
    scroll-behavior: smooth;
}
.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:navy;
    border-radius: 50px;
    margin: 40px 60px;

}
.profile-image{
    max-width: 400px;
    border-radius: 50px;
    margin-top: 100px;
    margin: 20px 100px;
}
.text-box{
    color: #ebeef1;
    margin-right: 20px;
}
.text-box h1{
    font-size: 60px;
    font-family: sans-serif;
}
.text-box p{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.language-box{
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    color: navy;
    background: #525252;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3d72b4, #525252);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3d72b4, #525252);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.language-box img{
    max-width: 50px;
    padding: 20px 20px;
    margin: 10px 10px;
    justify-content: center;
}
.language-box h1{
    color: #ebeef1;
    padding-left: 10px;
    font-family: sans-serif;
}

@media screen and (max-width: 768px) {
    .profile-container{
        width: 740px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-image{
        width: 300px;
        height: 600px;
        margin: 30px;
    }
    .text-box h1{
        font-size: 55px;
    }
    .text-box p{
        font-size: 25px;
    }
    .language-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
    }
    .language-box img{
        max-width: 35px;
        margin: 20px 5px;
        padding: 0px 10px;
    }
    .language-box h1{
        font-size: 20px;
        padding-left: 10px;
    }
}