<div class="profile-container">
    <img  src="assets/images/image1.jpg" >
            <div class="text-box">
                <h1>Software Developer</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae fugit molestias id laboriosam explicabo earum, mollitia debitis sequi nesciunt fugiat corporis beatae suscipit nemo illo voluptatem nihil quaerat nobis animi. Obcaecati minima, excepturi cum aut nam eligendi sunt repellat odio aliquid assumenda quos qui? Excepturi, odit labore! Voluptatibus, incidunt provident. Temporibus iusto adipisci veniam inventore debitis libero cum quo nam repudiandae aliquid, delectus ipsum odio, ipsa repellat aliquam architecto sunt atque. Nobis, dolores. At odio quibusdam porro quaerat doloribus libero expedita similique corporis? Cupiditate dolorem reiciendis magnam quas quae cum, sint odit expedita. Veniam, aut harum. Distinctio harum ratione maiores?</p>
            </div>
</div>
