<div class="profile-container">
    <img class="profile-image" src="assets/images/image1.jpg" >
            <div class="text-box">
                <h1>Software Developer</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quibusdam consequuntur voluptas molestias error doloremque debitis quas. Magni sequi, iste sed at exercitationem laborum commodi, molestias officiis velit rerum quis!</p>
                     <div class="language-box">
                        <h1>Tech stack</h1>
            <img  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"  alt="react"/>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"  alt="angularjs"/>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="javascript" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"  alt="typescript"/>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-plain-wordmark.svg"  alt="rails"/>
                     </div>
            </div>
</div>
